<ion-view view-title="Login" name="login-view">
    <ion-content class="padding">
        <div class="center">
            <br /><br /><br /><br /><br /><br /><br />
            <img src="img/bus-icon.jpg" alt="&Ocirc;nibus Social" />
            <br /><br />
            <h1 class="content">Bus&atilde;o Social</h1>
            <h3 class="content">
                Ajude a melhorar o
                <br />
                transporte p&uacute;blico
            </h3>
            <br /><br /><br />
            <a class="button button-block button-light" href="#/login">Entrar</a>
            <a class="button button-block button-balanced" href="#/register">Cadastrar</a>
        </div>
    </ion-content>
</ion-view>
