<ion-view view-title="Login" name="login-view">
    <ion-content class="padding">
        <div class="center">
            <br /><br /><br /><br /><br /><br /><br />
            <img src="img/bus-icon.jpg" alt="&Ocirc;nibus Social" />
            <br /><br />
            <h1 class="content">Bus&atilde;o Social</h1>
            <h3 class="content">
                Ajude a melhorar o
                <br />
                transporte p&uacute;blico
            </h3>
            <br /><br /><br />
            <label class="item item-input">
                <i class="icon ion-person placeholder-icon"></i>
                <input type="text" placeholder="Usu&aacute;rio"/>
            </label>
            <label class="item item-input">
                <i class="icon ion-ios-locked placeholder-icon"></i>
                <input type="password" placeholder="Senha"/>
            </label>
            <br />
            <button class="button button-block button-balanced">
                Login
            </button>
        </div>
    </ion-content>
</ion-view>
