<ion-view view-title="Login" name="login-view">
    <ion-content class="padding">
        <div class="center">
            <br />
            <img src="img/ionic.png" alt="&Ocirc;nibus Social" />
            <br />
            <label class="item item-input">
                <i class="icon ion-person placeholder-icon"></i>
                <input type="text" placeholder="Usu&aacute;rio"/>
            </label>
            <label class="item item-input">
                <i class="icon ion-ios-locked placeholder-icon"></i>
                <input type="password" placeholder="Senha"/>
            </label>
            <label class="item item-input">
                <i class="icon ion-email placeholder-icon"></i>
                <input type="email" placeholder="E-mail"/>
            </label>
            <label class="item item-input">
                <i class="icon ion-iphone placeholder-icon"></i>
                <input type="tel" placeholder="Telefone"/>
            </label>
            <br />
            <button class="button button-block button-balanced">
                Login
            </button>
        </div>
    </ion-content>
</ion-view>
