.background, .background .pane{
    background-color: #48908D;
}

.background .item, .background .item-complex .item-content {
    background-color: #80B2B1;
}

input::-moz-placeholder {
    color: white;
}

input::-webkit-input-placeholder {
    color: white;
}

input::-ms-input-placeholder {
    color: white;
}

.center {
    margin: auto;
    text-align: center;
}

.content {
    color: white;
}

.colored-label {
    color: #21D099;
}
